body{
    margin: 0px;
    font-family: Helvetica;
}

nav{
    height:314px;
}
ul{
    height:113px;
    list-style: none;
    display: flex;
    width: 100%;
    margin-top: 0px;
    padding: 8px;
    background-color: #206876;
}

button.navBtn{
    background-color:#8AAEB5;
}

li{
    width: 25%;
}