body{
    margin: 0px;
    font-family: Helvetica;
    min-height: 100%;
    background-color: #216477;
}

ul{
    height:75px;
    padding: 5px;
    list-style: none;
    display: flex;
    width: 100%;
    margin: 0px;
    background-color: #206876;
}

button.navBtn{
    background-color:#8AAEB5;
    margin-top: 5.5%;
    margin-left: 20%
}

button.navBtn:hover{
    background-color: #16738f;
    border-color: #16738f;
}

li{
    width: 25%;
}

#rightMenu{
    float:right;
    background-color:#6594A1;
    height: 100%;
    width: 25%;
    margin:0px;
}