body{
    margin: 0px;
    font-family: Helvetica;
}

ul{
    height:75px;
    padding: 5px;
    list-style: none;
    display: flex;
    width: 100%;
    margin-top: 0px;
    background-color: #206876;
}

button.navBtn{
    background-color:#8AAEB5;
    margin-top: 5.5%;
    margin-left: 20%
}

li{
    width: 25%;
}